// @import  url('//at.alicdn.com/t/font_1965932_y4w02xmehi.css');
@import url('./iconfont/iconfont.css');
[class^="ewen-icon"],[class*="ewen-icon"]{
  font-family:"iconfont"!important;
  font-size:13px;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}